Repository prisma/prisma-engines, pull requests merged in 2019-12, with the labels that each got.

#276 Tiny cleanup in test setup
  introspection-engine/connectors/sql-introspection-connector/tests/test_harness/test_api.rs
  libs/test-setup/src/lib.rs
Labels: component: introspection engine, component: migration engine

#278 Log the number of returned migrations in ListMigration
  migration-engine/connectors/migration-connector/src/migration_persistence.rs
  migration-engine/core/src/api.rs
  migration-engine/core/src/commands/list_migrations.rs
Labels: component: migration engine

#275 Do not fail on empty db
  introspection-engine/connectors/sql-introspection-connector/tests/test_harness/test_api.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/get_metadata_command_for_empty_db_tests.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/get_metadata_command_tests.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/list_databases_command_tests.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/mod.rs
  libs/sql-schema-describer/src/mysql.rs
  libs/sql-schema-describer/src/postgres.rs
  libs/sql-schema-describer/src/sqlite.rs
Labels: component: introspection engine

#280 Make dropping tables referenced by foreign keys work
  Cargo.lock
  introspection-engine/connectors/sql-introspection-connector/tests/test_harness/misc_helpers.rs
  introspection-engine/connectors/sql-introspection-connector/tests/test_harness/test_api.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/get_metadata_command_for_empty_db_tests.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/get_metadata_command_tests.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/list_databases_command_tests.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/unit_tests/sqlite.rs
  libs/test-macros/src/lib.rs
  libs/test-setup/Cargo.toml
  libs/test-setup/src/lib.rs
  libs/test-setup/src/logging.rs
  libs/test-setup/src/runtime.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/tests/existing_data_tests.rs
  migration-engine/core/tests/infer_migration_steps_tests.rs
  migration-engine/core/tests/migration_tests.rs
  migration-engine/core/tests/test_harness/misc_helpers.rs
  migration-engine/core/tests/test_harness/test_api.rs
Labels: component: migration engine

#284 DRY-up error conversion in the migration engine
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/core/src/commands/list_migrations.rs
  migration-engine/core/tests/error_tests.rs
  migration-engine/core/tests/existing_data_tests.rs
  migration-engine/core/tests/migration_tests.rs
  migration-engine/core/tests/test_harness/misc_helpers.rs
  migration-engine/core/tests/test_harness/test_api.rs
Labels: component: migration engine

#242 Make MigrationPersistence return results instead of unwrapping
  libs/test-setup/src/lib.rs
  migration-engine/connectors/migration-connector/src/migration_applier.rs
  migration-engine/connectors/migration-connector/src/migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/src/commands/infer_migration_steps.rs
  migration-engine/core/src/commands/list_migrations.rs
  migration-engine/core/src/commands/migration_progress.rs
  migration-engine/core/src/commands/unapply_migration.rs
  migration-engine/core/src/main.rs
  migration-engine/core/src/migration_engine.rs
  migration-engine/core/tests/apply_migration_tests.rs
  migration-engine/core/tests/existing_databases_tests.rs
  migration-engine/core/tests/migration_persistence_tests.rs
Labels: component: migration engine

#281 Implement Id Spec
  Makefile
  libs/datamodel/core/src/common/functions/mod.rs
  libs/datamodel/core/src/validator/directive/core/id.rs
  libs/datamodel/core/src/validator/directive/core/unique_and_index.rs
  libs/datamodel/core/src/validator/validate.rs
  libs/datamodel/core/tests/directives/id_negative.rs
  libs/datamodel/core/tests/directives/id_positive.rs
  libs/datamodel/core/tests/directives/relations_consistency.rs
  libs/prisma-models/src/datamodel_converter.rs
  libs/prisma-models/tests/datamodel_converter_tests.rs
  libs/sql-schema-describer/src/sqlite.rs
  migration-engine/connectors/migration-connector/src/database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/core/tests/error_tests.rs
  migration-engine/core/tests/existing_data_tests.rs
  migration-engine/core/tests/migration_tests.rs
  migration-engine/core/tests/test_harness/test_api.rs
  query-engine/connector-test-kit/src/test/scala/queries/ScalarListsQuerySpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/IntIdCreateSpec.scala
  query-engine/core/src/schema_builder/input_type_builder/create_input_type_extension.rs
Labels: component: data model parser, component: introspection engine, component: migration engine, component: query engine

#318 Fix spurious column default migrations
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/core/tests/migration_tests.rs
Labels: component: migration engine

#277 Warn when removing a default from an introspected foreign key
  libs/test-macros/src/lib.rs
  libs/test-setup/src/logging.rs
  libs/test-setup/src/runtime.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/core/tests/existing_databases_tests.rs
Labels: component: migration engine

#320 Move migration engine integration tests into the crate
  migration-engine/core/src/lib.rs
  migration-engine/core/src/main.rs
  migration-engine/core/src/tests/apply_migration_tests.rs
  migration-engine/core/src/tests/datamodel_calculator_tests.rs
  migration-engine/core/src/tests/datamodel_steps_inferrer_tests.rs
  migration-engine/core/src/tests/error_tests.rs
  migration-engine/core/src/tests/existing_data_tests.rs
  migration-engine/core/src/tests/existing_databases_tests.rs
  migration-engine/core/src/tests/infer_migration_steps_tests.rs
  migration-engine/core/src/tests/migration_persistence_tests.rs
  migration-engine/core/src/tests/migration_tests.rs
  migration-engine/core/src/tests/mod.rs
  migration-engine/core/src/tests/test_harness/command_helpers.rs
  migration-engine/core/src/tests/test_harness/misc_helpers.rs
  migration-engine/core/src/tests/test_harness/mod.rs
  migration-engine/core/src/tests/test_harness/step_helpers.rs
  migration-engine/core/src/tests/test_harness/test_api.rs
  migration-engine/core/src/tests/unapply_migration_tests.rs
Labels: component: migration engine

#324 Replace failure::Fail with std::error::Error in migration core
  Cargo.lock
  migration-engine/core/Cargo.toml
  migration-engine/core/src/api/error_rendering.rs
  migration-engine/core/src/api/rpc.rs
  migration-engine/core/src/cli.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/error.rs
  migration-engine/core/src/migration/datamodel_calculator.rs
  migration-engine/core/src/tests/test_harness/test_api.rs
Labels: component: migration engine

#325 Enforce that the same migration is not applied twice
  Cargo.lock
  libs/user-facing-errors/src/quaint.rs
  migration-engine/connectors/migration-connector/Cargo.toml
  migration-engine/connectors/migration-connector/src/error.rs
  migration-engine/connectors/migration-connector/src/migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/src/commands/infer_migration_steps.rs
  migration-engine/core/src/tests/apply_migration_tests.rs
  migration-engine/core/src/tests/migration_persistence_tests.rs
  migration-engine/core/src/tests/test_harness/test_api.rs
Labels: component: migration engine

#326 [sql-schema-differ] Coerce default strings based on column type
  Cargo.lock
  libs/sql-schema-describer/src/sqlite.rs
  libs/sql-schema-describer/tests/introspection_tests.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/core/src/tests/migration_tests.rs
Labels: component: migration engine
