Repository prisma/prisma-engines, pull requests merged in 2020-09, with the labels that each got.

#1096 (pg) Add missing schema name in MigrationPersistence init
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  query-engine/connectors/sql-query-connector/src/row.rs
Labels: engines/migration engine

#1101 Specialize ALTER TABLE rendering
  libs/sql-schema-describer/src/walkers.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_change_checker_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/common.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/sqlite.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: engines/migration engine

#1100 Test that enums can be altered on empty databases
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/tests/migrations/enums.rs
Labels: engines/migration engine

#1105 Replace bitflags in test-setup and introduce enumflags2 in sql-migration-connector
  Cargo.lock
  libs/test-macros/Cargo.toml
  libs/test-macros/src/test_each_connector.rs
  libs/test-setup/Cargo.toml
  libs/test-setup/src/connectors.rs
  libs/test-setup/src/connectors/capabilities.rs
  libs/test-setup/src/connectors/tags.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/sql_migration/expanded_alter_column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
Labels: engines/migration engine

#1083 SQL Schema Describer for Microsoft SQL Server
  Cargo.lock
  introspection-engine/core/Cargo.toml
  libs/sql-schema-describer/Cargo.toml
  libs/sql-schema-describer/src/lib.rs
  libs/sql-schema-describer/src/mssql.rs
  libs/sql-schema-describer/tests/introspection_tests.rs
  libs/sql-schema-describer/tests/mssql/mod.rs
  libs/sql-schema-describer/tests/mssql_introspection_tests.rs
  libs/sql-schema-describer/tests/test_api/mod.rs
  libs/test-cli/Cargo.toml
  libs/test-macros/src/lib.rs
  libs/test-macros/src/test_each_connector.rs
  libs/test-setup/src/connectors.rs
  libs/test-setup/src/connectors/tags.rs
  libs/test-setup/src/lib.rs
Labels: engines/other, topic: SQL Server

#1102 Ensure schema presence on ME initialization on postgres
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/migration-engine-tests/tests/initialization/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: engines/migration engine

#1099 Stub out new migration engine commands
  Cargo.lock
  libs/datamodel/core/src/walkers.rs
  migration-engine/core/Cargo.toml
  migration-engine/core/src/api.rs
  migration-engine/core/src/api/rpc.rs
  migration-engine/core/src/commands.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/core/src/commands/calculate_datamodel.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/commands/create_migration.rs
  migration-engine/core/src/commands/debug_panic.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/core/src/commands/initialize.rs
  migration-engine/core/src/commands/migration_progress.rs
  migration-engine/core/src/commands/plan_migration.rs
  migration-engine/core/src/commands/reset.rs
  migration-engine/core/src/commands/schema_push.rs
  migration-engine/core/src/error.rs
  migration-engine/core/src/lib.rs
  migration-engine/core/src/migrations_directory.rs
Labels: engines/migration engine

#1114 More index naming testing
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/indexes.rs
Labels: engines/migration engine

#1117 Add #![deny(missing-docs)] lint to migration-connector
  migration-engine/connectors/migration-connector/src/database_migration_step_applier.rs
  migration-engine/connectors/migration-connector/src/destructive_change_checker.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/database_info.rs
Labels: engines/migration engine

#1116 Deal with long index names truncation in SQL schema diffing and SQL rendering
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/common.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/migration-engine-tests/tests/migrations/indexes.rs
Labels: engines/migration engine

#1119 migration engine/imperative migration persistence
  Cargo.lock
  migration-engine/connectors/migration-connector/src/imperative_migrations_persistence.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_imperative_migration_persistence.rs
  migration-engine/migration-engine-tests/Cargo.toml
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/migration_persistence/imperative_migration_persistence_tests.rs
  migration-engine/migration-engine-tests/tests/migration_persistence/mod.rs
Labels: engines/migration engine

#1122 migration engine/create migration command
  Cargo.lock
  libs/test-setup/src/lib.rs
  migration-engine/connectors/migration-connector/Cargo.toml
  migration-engine/connectors/migration-connector/src/database_migration_inferrer.rs
  migration-engine/connectors/migration-connector/src/database_migration_step_applier.rs
  migration-engine/connectors/migration-connector/src/destructive_change_checker.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/migration-connector/src/migrations_directory.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/core/src/api.rs
  migration-engine/core/src/commands/create_migration.rs
  migration-engine/core/src/lib.rs
  migration-engine/migration-engine-tests/Cargo.toml
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/create_migration.rs
  migration-engine/migration-engine-tests/tests/create_migration/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: engines/migration engine

#1126 ME: apply migrations command
  migration-engine/connectors/migration-connector/src/database_migration_step_applier.rs
  migration-engine/connectors/migration-connector/src/imperative_migrations_persistence.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/migration-connector/src/migrations_directory.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_imperative_migration_persistence.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/apply_migrations.rs
  migration-engine/migration-engine-tests/src/test_api/create_migration.rs
  migration-engine/migration-engine-tests/tests/apply_migrations/mod.rs
  migration-engine/migration-engine-tests/tests/migration_persistence/imperative_migration_persistence_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: engines/migration engine

#1133 diagnoseMigrationHistory command
  libs/user-facing-errors/src/lib.rs
  migration-engine/connectors/migration-connector/src/database_migration_inferrer.rs
  migration-engine/connectors/migration-connector/src/error.rs
  migration-engine/connectors/migration-connector/src/migrations_directory.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/core/src/commands.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/create_migration.rs
  migration-engine/migration-engine-tests/src/test_api/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: engines/migration engine, team/engines

#1134 Initial implementation of planMigration
  migration-engine/connectors/migration-connector/src/destructive_change_checker.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/migration-connector/src/migrations_directory.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_change_checker_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_change_checker_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_change_checker_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_check_plan.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/unexecutable_step_check.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/commands/create_migration.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/core/src/commands/plan_migration.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/plan_migration.rs
  migration-engine/migration-engine-tests/tests/existing_data/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/plan_migration/mod.rs
  migration-engine/migration-engine-tests/tests/plan_migration/plan_migration_tests.rs
Labels: engines/migration engine, team/engines

#1136 Fix typo in PlanMigrationOutput
  migration-engine/core/src/commands/plan_migration.rs
  migration-engine/migration-engine-tests/src/test_api/plan_migration.rs
  migration-engine/migration-engine-tests/tests/plan_migration/plan_migration_tests.rs
Labels: engines/migration engine

#1138 Implement Reset command in migration engine
  libs/test-cli/src/main.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/core/src/api.rs
  migration-engine/core/src/api/rpc.rs
  migration-engine/core/src/commands/reset.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/reset.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/reset/mod.rs
  migration-engine/migration-engine-tests/tests/reset/reset_tests.rs
Labels: engines/migration engine, team/engines

#1146 Fix missing attached name for migrations table on SQLite
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_imperative_migration_persistence.rs
  migration-engine/core/src/migration/datamodel_differ.rs
Labels: engines/migration engine, team/engines

#1143 Simplify error handling in sql-migration-connector
  Cargo.lock
  migration-engine/connectors/migration-connector/src/error.rs
  migration-engine/connectors/migration-connector/src/migrations_directory.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/component.rs
  migration-engine/connectors/sql-migration-connector/src/connection_wrapper.rs
  migration-engine/connectors/sql-migration-connector/src/database_info.rs
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_check_plan.rs
  migration-engine/connectors/sql-migration-connector/src/sql_imperative_migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/migration-engine-tests/src/test_api.rs
Labels: engines/migration engine, team/engines

#1147 Change the shape of diagnoseMigrationHistoryOutput
  migration-engine/core/src/commands.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/mod.rs
Labels: engines/migration engine, team/engines

#1152 (user-facing-errors) Make KnownError::new() infallible
  Cargo.lock
  introspection-engine/connectors/sql-introspection-connector/src/error.rs
  introspection-engine/core/src/error_rendering.rs
  libs/user-facing-errors/src/lib.rs
  libs/user-facing-errors/src/quaint.rs
  migration-engine/cli/src/commands/error.rs
  migration-engine/connectors/migration-connector/src/migrations_directory.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/core/src/api/error_rendering.rs
  query-engine/connectors/query-connector/src/error.rs
  query-engine/connectors/sql-query-connector/src/error.rs
  query-engine/core/src/error.rs
  query-engine/query-engine/src/error.rs
Labels: team/engines, topic: error

#1157 Upgrade tokio, enable raw_cmd MySQL tests
  Cargo.lock
  introspection-engine/connectors/sql-introspection-connector/Cargo.toml
  libs/json-rpc-stdio/Cargo.toml
  libs/prisma-models/Cargo.toml
  libs/sql-schema-describer/Cargo.toml
  libs/test-cli/Cargo.toml
  libs/test-setup/Cargo.toml
  migration-engine/cli/Cargo.toml
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/core/src/commands/reset.rs
  migration-engine/migration-engine-tests/Cargo.toml
  migration-engine/migration-engine-tests/tests/apply_migrations/mod.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/mod.rs
  migration-engine/migration-engine-tests/tests/errors/mod.rs
  migration-engine/migration-engine-tests/tests/plan_migration/plan_migration_tests.rs
  query-engine/connectors/sql-query-connector/Cargo.toml
  query-engine/core/Cargo.toml
  query-engine/query-engine/Cargo.toml
Labels: engines/migration engine, team/engines

#1166 Make IndexWalker fields private
  libs/datamodel/core/src/walkers.rs
  libs/prisma-inflector/src/categories.rs
  libs/sql-schema-describer/src/mssql.rs
  libs/sql-schema-describer/src/walkers.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mssql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/index.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
Labels: engines/migration engine
