Repository prisma/prisma-engines, pull requests merged in 2020-07, with the labels that each got.

#851 Support @default on Json fields
  libs/sql-schema-describer/src/lib.rs
  libs/sql-schema-describer/src/postgres.rs
  libs/test-setup/src/connectors.rs
  libs/test-setup/src/connectors/capabilities.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/migration-engine-tests/tests/migrations/json.rs
  migration-engine/migration-engine-tests/tests/migrations/mod.rs
Labels: component: migration engine

#889 Use utf8mb4 as the default character set for MySQL dbs created by the migration engine
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
Labels: component: migration engine

#872 Introspection: remove alphabetical ordering of columns
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/enums_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/relations_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/relations_with_compound_fk_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/remapping_database_names_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/tables_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/enums_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/native_lists_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/relations_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/relations_with_compound_fk_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/remapping_database_names_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/tables_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/relations_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/relations_with_compound_fk_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/remapping_database_names_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/tables_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/re_introspection/mod.rs
  libs/sql-schema-describer/src/mysql.rs
  libs/sql-schema-describer/src/postgres.rs
  libs/sql-schema-describer/src/sqlite.rs
  libs/sql-schema-describer/tests/introspection_tests.rs
  libs/sql-schema-describer/tests/mysql_introspection_tests.rs
  libs/sql-schema-describer/tests/postgres_introspection_tests.rs
  libs/sql-schema-describer/tests/sqlite_introspection_tests.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
Labels: component: introspection engine, component: migration engine

#895 Expose unexecutableMigrations in ME commands output
  migration-engine/connectors/migration-connector/src/destructive_changes_checker.rs
  migration-engine/core/src/commands/mod.rs
Labels: component: migration engine

#898 Run clippy on migration-connector
  libs/user-facing-error-macros/src/lib.rs
  migration-engine/connectors/migration-connector/src/destructive_changes_checker.rs
  migration-engine/connectors/migration-connector/src/migration_persistence.rs
  migration-engine/connectors/migration-connector/src/steps.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
Labels: component: migration engine

#899 Forbid updating `Int @id @default(autoincrement())` fields
  libs/prisma-models/src/datamodel_converter.rs
  libs/prisma-models/src/field/scalar.rs
  libs/prisma-models/src/fields.rs
  query-engine/connector-test-kit/src/test/scala/writes/ids/IntIdUpdateSpec.scala
  query-engine/core/src/schema_builder/input_type_builder/update_input_type_extension.rs
Labels: component: query engine

#910 Absorb SqlRenderer impls into SqlFlavour
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
Labels: component: migration engine

#919 Merge migration engine integration test crates
  migration-engine/migration-engine-tests/tests/apply_migration/mod.rs
  migration-engine/migration-engine-tests/tests/calculate_database_steps/mod.rs
  migration-engine/migration-engine-tests/tests/datamodel_calculator/mod.rs
  migration-engine/migration-engine-tests/tests/datamodel_steps_inferrer/mod.rs
  migration-engine/migration-engine-tests/tests/errors/mod.rs
  migration-engine/migration-engine-tests/tests/existing_data/mod.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
  migration-engine/migration-engine-tests/tests/existing_databases/mod.rs
  migration-engine/migration-engine-tests/tests/infer_migration_steps/mod.rs
  migration-engine/migration-engine-tests/tests/migration_persistence/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/multi_user/mod.rs
  migration-engine/migration-engine-tests/tests/unapply_migration/mod.rs
Labels: component: migration engine

#908 Implement migration of autoincrement sequences in isolation
  libs/sql-schema-describer/src/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration/expanded_alter_column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_helpers.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/existing_databases/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#921 Fix multi-field ids including an autoincrement integer on sqlite
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_helpers.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  query-engine/connector-test-kit/src/test/scala/writes/ids/IntIdUpdateSpec.scala
Labels: component: migration engine

#920 Make required connecting fields with defaults optional in relations
  query-engine/connector-test-kit/src/test/scala/writes/relations/RelationDefaultsSpec.scala
  query-engine/core/src/schema_builder/input_type_builder/create_input_type_extension.rs
Labels: component: query engine

#927 Remove ForeignKeyDefaultValue warning from migration-engine
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/warning_check.rs
  migration-engine/migration-engine-tests/tests/existing_databases/mod.rs
Labels: component: migration engine

#928 Remove unnecessary argument in DestructiveChangeCheckerFlavour
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/sqlite.rs
  migration-engine/migration-engine-tests/tests/existing_databases/mod.rs
Labels: component: migration engine

#942 Normalize trailing zeroes off from decimals
  libs/prisma-value/src/sql_ext.rs
  query-engine/connectors/sql-query-connector/src/row.rs
Labels: kind/bug

#943 Move CreateEnum and DropEnum rendering to renderer
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
Labels: component: migration engine

#940 Align timestamp precision on MySQL
  libs/datamodel/core/src/walkers.rs
  libs/sql-schema-describer/src/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
Labels: component: migration engine

#924 Make nested create and update inputs for relation fields non-nullable
  query-engine/connector-test-kit/src/test/scala/writes/relations/OptionalRelationSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/relations/RequiredRelationSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/CreateMutationSpec.scala
  query-engine/core/src/schema_builder/input_type_builder/create_input_type_extension.rs
  query-engine/core/src/schema_builder/input_type_builder/update_input_type_extension.rs
Labels: component: query engine

#949 Initial implementation of schemaPush command
  libs/test-cli/src/main.rs
  migration-engine/connectors/migration-connector/src/database_migration_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/core/src/api.rs
  migration-engine/core/src/api/rpc.rs
  migration-engine/core/src/commands/mod.rs
  migration-engine/core/src/commands/schema_push.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/schema_push.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/schema_push/mod.rs
Labels: engines: migration engine

#955 Add debugPanic command to the migration engine
  libs/datamodel/core/src/ast/reformat/reformatter.rs
  libs/datamodel/core/tests/directives/relations_new.rs
  migration-engine/core/src/api.rs
  migration-engine/core/src/api/rpc.rs
  migration-engine/core/src/commands.rs
  migration-engine/core/src/commands/debug_panic.rs
Labels: engines: migration engine

#960 Avoid name collisions between @@index and @@unique on the same fields
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/errors/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/schema_push/mod.rs
Labels: engines/migration engine

#966 Tiny DMMF cleanups
  query-engine/query-engine/src/dmmf/schema/enum_renderer.rs
  query-engine/query-engine/src/dmmf/schema/field_renderer.rs
  query-engine/query-engine/src/dmmf/schema/mod.rs
  query-engine/query-engine/src/dmmf/schema/object_renderer.rs
  query-engine/query-engine/src/dmmf/schema/schema_renderer.rs
  query-engine/query-engine/src/dmmf/schema/type_renderer.rs
Labels: engines/query engine

#974 Add DestructiveChangeChecker::pure_check()
  migration-engine/connectors/migration-connector/src/destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_check_plan.rs
Labels: engines/migration engine
