Repository prisma/prisma-engines, pull requests merged in 2020-11, with the labels that each got.

#1334 Validate that migration squashing is possible
  libs/sql-schema-describer/src/lib.rs
  libs/sql-schema-describer/src/walkers.rs
  migration-engine/connectors/sql-migration-connector/src/pair.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mssql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/enums.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/migration-engine-tests/tests/migrations/mod.rs
  migration-engine/migration-engine-tests/tests/migrations/squashing_tests.rs
Labels: engines/migration engine, team/engines

#1338 Explicitly standardize on upper case for generated SQL in sql-migration-connector
  migration-engine/connectors/sql-migration-connector/src/sql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/migration-engine-tests/tests/create_migration/create_migration_tests.rs
Labels: engines/migration engine, team/engines

#1340 Remove DatabaseInfo references in SqlRenderer
  libs/sql-schema-describer/src/walkers.rs
  migration-engine/connectors/sql-migration-connector/src/pair.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mssql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/migration-engine-tests/tests/migrations/indexes.rs
Labels: engines/migration engine, team/engines

#1346 Fix casing of JSON inputs on history reconciliation commands
  migration-engine/core/src/commands/apply_script.rs
  migration-engine/core/src/commands/mark_migration_applied.rs
  migration-engine/core/src/commands/mark_migration_rolled_back.rs
Labels: engines/migration engine

#1349 Rewrite wrong error message in markMigrationApplied
  migration-engine/core/src/commands/mark_migration_applied.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_applied_tests.rs
Labels: engines/migration engine

#1351 Clean up some noise from migration engine error messages
  Cargo.lock
  migration-engine/connectors/migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/core/src/commands/create_migration.rs
  migration-engine/core/src/core_error.rs
  migration-engine/core/src/migration/datamodel_calculator.rs
  migration-engine/migration-engine-tests/tests/datamodel_calculator/mod.rs
  migration-engine/migration-engine-tests/tests/errors/error_tests.rs
  migration-engine/migration-engine-tests/tests/infer_migration_steps/mod.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_applied_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_rolled_back_tests.rs
Labels: engines/migration engine

#1356 Bind listMigrationDirectories JSON RPC method
  migration-engine/core/src/api/rpc.rs
Labels: engines/migration engine, team/engines

#1363 Initialize the _Migration table more selectively
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/src/commands/infer_migration_steps.rs
  migration-engine/core/src/commands/list_migrations.rs
  migration-engine/core/src/commands/migration_progress.rs
  migration-engine/core/src/commands/reset.rs
  migration-engine/core/src/commands/unapply_migration.rs
  migration-engine/core/src/migration_engine.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/apply_migration/mod.rs
  migration-engine/migration-engine-tests/tests/migration_persistence/mod.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: engines/migration engine, team/engines

#1373 Stop requiring the SERVER_ROOT env var for ME tests
  introspection-engine/introspection-engine-tests/tests/rpc_calls/list_databases_command_tests.rs
  libs/sql-schema-describer/tests/sqlite/mod.rs
  libs/sql-schema-describer/tests/sqlite_introspection_tests.rs
  libs/sql-schema-describer/tests/test_api/mod.rs
  libs/test-setup/src/lib.rs
Labels: engines/introspection engine, engines/migration engine, team/engines

#1374 Replace migration splitting with raw_cmd in tests
  introspection-engine/introspection-engine-tests/src/lib.rs
  libs/sql-schema-describer/tests/mssql/mod.rs
  libs/sql-schema-describer/tests/mysql/mod.rs
  libs/sql-schema-describer/tests/postgres/mod.rs
  libs/sql-schema-describer/tests/sqlite/mod.rs
  libs/sql-schema-describer/tests/test_api/mod.rs
  migration-engine/migration-engine-tests/src/sql/barrel_migration_executor.rs
Labels: engines/introspection engine, engines/migration engine

#1370 Do not fail to diagnose migration history w/o shadow database
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/diagnose_migration_history_tests.rs
Labels: engines/migration engine, team/engines

#1375 Remove expand_alter_column
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_change_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_imperative_migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration/expanded_alter_column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
Labels: engines/migration engine

#1376 Fix detection of failed migrations in DiagnoseMigrationHistory
  migration-engine/connectors/migration-connector/src/imperative_migrations_persistence.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/apply_migrations/mod.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/diagnose_migration_history_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: engines/migration engine, tech/engines

#1395 SQL Server query should always return the last result set
  Cargo.lock
Labels: kind/bug

#1397 Return whether unapplied migrations can apply cleanly
  migration-engine/cli/src/commands/tests.rs
  migration-engine/connectors/migration-connector/src/database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/diagnose_migration_history_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/squashing_tests.rs
Labels: team/migrations, tech/engines

#1382 Deal with table name case insensitivity on MySQL
  libs/datamodel/core/src/walkers.rs
  libs/sql-schema-describer/src/lib.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/connection_wrapper.rs
  migration-engine/connectors/sql-migration-connector/src/database_info.rs
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_imperative_migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/sql_schema_calculator_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/sql_schema_calculator_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/sql_schema_calculator_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/core/src/commands/get_database_version.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/existing_databases/mod.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_applied_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_rolled_back_tests.rs
Labels: engines/migration engine, team/migrations, tech/engines

#1405 Simplify markMigrationApplied before it becomes user-facing
  migration-engine/connectors/migration-connector/src/imperative_migrations_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/sql_imperative_migration_persistence.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/core/src/commands/mark_migration_applied.rs
  migration-engine/migration-engine-tests/src/test_api/mark_migration_applied.rs
  migration-engine/migration-engine-tests/tests/migration_persistence/imperative_migration_persistence_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_applied_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_rolled_back_tests.rs
Labels: engines/migration engine, team/migrations

#1406 Backport improvements from advisory locking branch
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/sql_schema_calculator_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/sql_schema_calculator_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/sql_schema_calculator_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/sql_schema_calculator_flavour/sqlite.rs
Labels: engines/migration engine

#1409 Make shadow database opt-in in diagnoseMigrationHistory
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/src/test_api/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/diagnose_migration_history_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/squashing_tests.rs
Labels: engines/migration engine, team/migrations
