Repository prisma/prisma-engines, pull requests merged in 2020-03, with the labels that each got.

#527 Introspecting default values for enums
  introspection-engine/connectors/sql-introspection-connector/src/misc_helpers.rs
  introspection-engine/connectors/sql-introspection-connector/src/sanitize_datamodel_names.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/enums_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/mod.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/remapping_database_names_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/mysql/tables_mysql.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/enums_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/mod.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/remapping_database_names_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/tables_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/rpc_calls/get_database_description.rs
  libs/datamodel/connectors/datamodel-connector/src/scalars.rs
  libs/datamodel/core/examples/dmmf-to-dml.rs
  libs/datamodel/core/src/dml/default_value.rs
  libs/datamodel/core/src/dml/enum.rs
  libs/datamodel/core/src/json/dmmf/from_dmmf.rs
  libs/datamodel/core/src/json/dmmf/mod.rs
  libs/datamodel/core/src/json/dmmf/to_dmmf.rs
  libs/datamodel/core/src/validator/directive/core/default.rs
  libs/datamodel/core/tests/directives/default_positive.rs
  libs/datamodel/core/tests/end_to_end/parser_renderer_dmmf.rs
  libs/prisma-models/src/datamodel_converter.rs
  libs/prisma-models/src/field.rs
  libs/prisma-models/src/internal_data_model.rs
  libs/prisma-models/src/prisma_value_ext.rs
  libs/prisma-models/src/projections/model_projection.rs
  libs/prisma-models/tests/datamodel_converter_tests.rs
  libs/sql-schema-describer/src/postgres.rs
  libs/sql-schema-describer/tests/introspection_tests.rs
  libs/sql-schema-describer/tests/postgres_introspection_tests.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DefaultValueSpec.scala
  query-engine/connectors/sql-query-connector/src/row.rs
  query-engine/core/src/query_document/parser.rs
  query-engine/core/src/query_document/query_value.rs
  query-engine/core/src/query_graph_builder/write/write_args_parser.rs
  query-engine/core/src/response_ir/internal.rs
  query-engine/core/src/schema_builder/filter_arguments.rs
  query-engine/core/src/schema_builder/input_type_builder/input_builder_extensions.rs
  query-engine/core/src/schema_builder/object_type_builder.rs
  query-engine/prisma/src/dmmf/schema/enum_renderer.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/enum_renderer.rs
Labels: process/next-milestone

#559 Test and fix Id as part of relation in migration engine
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/datamodel_helpers.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
Labels: component: migration engine

#560 Make foreign key fields cascade on delete by default
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#561 Index join tables on the B side
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#564 Return a more intelligible error on unexpectedly empty response
  query-engine/core/src/response_ir/mod.rs
Labels: component: query engine

#573 Fix @unique on composite relation fields
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
Labels: component: migration engine

#576 Fix prisma-engines#567
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
Labels: component: migration engine

#577 Ban Decimal::from_f64
  Cargo.lock
  libs/prisma-value/src/lib.rs
  query-engine/connectors/sql-query-connector/src/row.rs
  query-engine/prisma/src/tests/type_mappings/mysql_types.rs
Labels: component: query engine

#582 Fix mobc health checks
  Cargo.lock
Labels: component: query engine, kind/bug

#585 Postgres exotic filters
  query-engine/prisma/src/tests/type_mappings/postgres_types.rs
  query-engine/prisma/src/tests/type_mappings/test_api.rs
Labels: component: query engine

#591 Disable playground by default, flag for enabling
  query-engine/prisma/src/cli.rs
  query-engine/prisma/src/context.rs
  query-engine/prisma/src/data_model_loader.rs
  query-engine/prisma/src/dmmf/mod.rs
  query-engine/prisma/src/dmmf/schema/field_renderer.rs
  query-engine/prisma/src/dmmf/schema/mod.rs
  query-engine/prisma/src/error.rs
  query-engine/prisma/src/main.rs
  query-engine/prisma/src/request_handlers/graphql/handler.rs
  query-engine/prisma/src/request_handlers/graphql/protocol_adapter.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/enum_renderer.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/field_renderer.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/mod.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/object_renderer.rs
  query-engine/prisma/src/server.rs
  query-engine/prisma/src/tests/dmmf.rs
  query-engine/prisma/src/tests/execute_raw.rs
  query-engine/prisma/src/tests/test_api.rs
  query-engine/prisma/src/utilities.rs
Labels: component: query engine

#590 Test postgres exotic filters
  query-engine/prisma/src/tests/type_mappings/postgres_types.rs
Labels: component: query engine

#598 Set all datamodel-related flags in structopt
  libs/prisma-models/src/model.rs
  query-engine/prisma/src/cli.rs
  query-engine/prisma/src/configuration.rs
  query-engine/prisma/src/context.rs
  query-engine/prisma/src/data_model_loader.rs
  query-engine/prisma/src/main.rs
  query-engine/prisma/src/server.rs
  query-engine/prisma/src/tests/dmmf.rs
  query-engine/prisma/src/tests/test_api.rs
  query-engine/prisma/src/tests/type_mappings/test_api.rs
  query-engine/prisma/src/utilities.rs
Labels: component: query engine, kind/improvement

#602 The dmmf cli cmd should not crash for env vars
  query-engine/prisma/src/cli.rs
Labels: bug/2-confirmed, component: query engine

#600 Test and fix postgres default handling
  libs/sql-schema-describer/src/postgres.rs
  query-engine/prisma/src/tests/type_mappings/mysql_types.rs
  query-engine/prisma/src/tests/type_mappings/postgres_types.rs
Labels: component: introspection engine, component: query engine

#603 Citext
  libs/sql-schema-describer/src/postgres.rs
Labels: component: introspection engine

#607 Make dmmf dm errors more beautiful
  query-engine/prisma/src/cli.rs
Labels: kind/bug

#609 Unify dml error handling
  .envrc
  .rustfmt.toml
  introspection-engine/connectors/sql-introspection-connector/src/misc_helpers.rs
  query-engine/prisma/src/cli.rs
  query-engine/prisma/src/configuration.rs
  query-engine/prisma/src/context.rs
  query-engine/prisma/src/dmmf/mod.rs
  query-engine/prisma/src/dmmf/schema/field_renderer.rs
  query-engine/prisma/src/dmmf/schema/mod.rs
  query-engine/prisma/src/error.rs
  query-engine/prisma/src/main.rs
  query-engine/prisma/src/opt.rs
  query-engine/prisma/src/request_handlers/graphql/handler.rs
  query-engine/prisma/src/request_handlers/graphql/protocol_adapter.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/enum_renderer.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/field_renderer.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/mod.rs
  query-engine/prisma/src/request_handlers/graphql/schema_renderer/object_renderer.rs
  query-engine/prisma/src/server.rs
  query-engine/prisma/src/tests/dmmf.rs
  query-engine/prisma/src/tests/execute_raw.rs
  query-engine/prisma/src/tests/test_api.rs
  query-engine/prisma/src/tests/type_mappings/mysql_types.rs
  query-engine/prisma/src/tests/type_mappings/postgres_types.rs
  query-engine/prisma/src/tests/type_mappings/test_api.rs
  rustfmt.toml
Labels: component: query engine, kind/improvement

#612 New relations in the migration engine
  .rustfmt.toml
  migration-engine/connectors/migration-connector/src/destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/datamodel_helpers.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/added_required_field_to_table.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/added_unimplementable_unique_constraint.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/made_optional_field_required.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
  migration-engine/migration-engine-tests/tests/existing_databases_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mariadb.rs
  migration-engine/migration-engine-tests/tests/migrations/mysql.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
  query-engine/prisma/src/tests/type_mappings/mysql_types.rs
  rustfmt.toml
Labels: component: migration engine

#613 Test unique fields as ID on postgres
  query-engine/prisma/src/tests/type_mappings/postgres_types.rs
Labels: component: query engine

#614 Health check fixes
  Cargo.lock
Labels: component: query engine, kind/improvement

#616 Set the pool constraints in QE
  Cargo.lock
  query-engine/connectors/sql-query-connector/src/database/mysql.rs
  query-engine/connectors/sql-query-connector/src/database/postgresql.rs
  query-engine/connectors/sql-query-connector/src/database/sqlite.rs
Labels: component: query engine, kind/improvement

#617 Fix unused value warning in test
  migration-engine/migration-engine-tests/tests/migration_persistence_tests.rs
Labels: component: migration engine

#622 Implement known error for length mismatches
  Cargo.lock
  libs/user-facing-errors/src/quaint.rs
  libs/user-facing-errors/src/query_engine.rs
  query-engine/connectors/sql-query-connector/src/error.rs
  query-engine/prisma/src/tests/type_mappings/mysql_types.rs
  query-engine/prisma/src/tests/type_mappings/postgres_types.rs
Labels: component: query engine

#623 Fix panics when the system time goes backwards
  Cargo.lock
Labels: bug/2-confirmed, component: query engine

#618 Return Warnings from introspection
  Cargo.lock
  introspection-engine/connectors/introspection-connector/Cargo.toml
  introspection-engine/connectors/introspection-connector/src/lib.rs
  introspection-engine/connectors/sql-introspection-connector/Cargo.toml
  introspection-engine/connectors/sql-introspection-connector/src/calculate_datamodel.rs
  introspection-engine/connectors/sql-introspection-connector/src/commenting_out_guardrails.rs
  introspection-engine/connectors/sql-introspection-connector/src/lib.rs
  introspection-engine/connectors/sql-introspection-connector/tests/common_unit_tests/mod.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/enums_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/tables_postgres.rs
  introspection-engine/connectors/sql-introspection-connector/tests/test_harness/test_api.rs
  introspection-engine/core/src/rpc.rs
  introspection-engine/test.sh
  libs/datamodel/core/src/ast/enum.rs
  libs/datamodel/core/src/ast/parser/mod.rs
  libs/datamodel/core/src/ast/renderer/mod.rs
  libs/datamodel/core/src/dml/enum.rs
  libs/datamodel/core/src/validator/lower.rs
  libs/test-cli/src/main.rs
  migration-engine/core/src/migration/datamodel_calculator.rs
  query-engine/prisma/src/tests/type_mappings/test_api.rs
Labels: component: introspection engine

#627 Correctly remap the fields property in relation info
  introspection-engine/connectors/sql-introspection-connector/src/sanitize_datamodel_names.rs
  introspection-engine/connectors/sql-introspection-connector/tests/common_unit_tests/mod.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/remapping_database_names_postgres.rs
Labels: bug/2-confirmed

#628 Replace invalid enum values in defaults with dbgenerated()
  introspection-engine/connectors/sql-introspection-connector/src/sanitize_datamodel_names.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/enums_postgres.rs
Labels: bug/2-confirmed

#629 Drop @@id, @@unique, @@index if a commented out field is included
  introspection-engine/connectors/sql-introspection-connector/src/calculate_datamodel.rs
  introspection-engine/connectors/sql-introspection-connector/src/commenting_out_guardrails.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/tables_postgres.rs
Labels: bug/2-confirmed

#631 Clean up and mark field earlier as commented out
  introspection-engine/connectors/sql-introspection-connector/src/commenting_out_guardrails.rs
Labels: bug/2-confirmed

#632 Ignore duplicate Foreign Keys
  introspection-engine/connectors/sql-introspection-connector/src/calculate_datamodel.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/relations_postgres.rs
  libs/sql-schema-describer/src/lib.rs
Labels: bug/2-confirmed

#634 Ignore Cascade when comparing Foreign Keys
  libs/sql-schema-describer/src/lib.rs
Labels: bug/2-confirmed

#635 Try not to panic the whole engine on pg errors
  Cargo.lock
Labels: kind/bug

#626 Parametrized count aggregations
  query-engine/connector-test-kit/src/test/scala/queries/aggregation/AggregationQuerySpec.scala
  query-engine/connector-test-kit/src/test/scala/queries/aggregation/CountAggregationQuerySpec.scala
  query-engine/connectors/query-connector/src/query_arguments.rs
  query-engine/connectors/sql-query-connector/src/database/operations/read.rs
  query-engine/core/src/interpreter/query_interpreters/read.rs
  query-engine/core/src/query_ast/read.rs
  query-engine/core/src/query_graph_builder/extractors/query_arguments.rs
  query-engine/core/src/query_graph_builder/read/aggregate.rs
  query-engine/core/src/response_ir/internal.rs
  query-engine/core/src/result_ast/mod.rs
  query-engine/core/src/schema_builder/filter_type_builder.rs
  query-engine/core/src/schema_builder/object_type_builder.rs
Labels: component: query engine

#640 Drop relations that are referring to unsupported types
  introspection-engine/connectors/sql-introspection-connector/src/calculate_datamodel.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/relations_postgres.rs
Labels: bug/2-confirmed

#639 Avoid duplicate unique indexes on required 1:1 relations
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/migrations/indexes.rs
Labels: component: migration engine
