Repository prisma/prisma-engines, pull requests merged in 2020-04, with the labels that each got.

#486 Reenable error code and message assertions in scala tests
  Cargo.lock
  libs/user-facing-errors/src/query_engine.rs
  query-engine/connector-test-kit/src/test/scala/queries/filters/SelfRelationFilterSpec.scala
  query-engine/connector-test-kit/src/test/scala/queries/filters/WhereUniqueSpec.scala
  query-engine/connector-test-kit/src/test/scala/queries/simple/MultiFieldUniqueQuerySpec.scala
  query-engine/connector-test-kit/src/test/scala/util/EnvVars.scala
  query-engine/connector-test-kit/src/test/scala/util/PlayJson.scala
  query-engine/connector-test-kit/src/test/scala/util/TestServer.scala
  query-engine/connector-test-kit/src/test/scala/writes/deadlocksAndTransactions/TransactionalNestedExecutionSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/ids/BringYourOwnIdSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedConnectMutationInsideCreateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedConnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedCreateMutationInsideCreateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedCreateMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteManyMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedUpdateManyMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedUpsertMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/notUsingSchemaBase/NestedConnectMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/notUsingSchemaBase/NestedUpdateMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/relations/CascadingDeleteSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/scalarLists/CreateMutationListSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/CreateMutationSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteManyMutationRelationsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteMutationRelationsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteMutationSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/InsertingNullInRequiredFieldsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/UpdateMutationSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/UpsertMutationSpec.scala
  query-engine/connectors/query-connector/src/error.rs
  query-engine/core/src/error.rs
  query-engine/core/src/interpreter/error.rs
  query-engine/core/src/interpreter/expressionista.rs
  query-engine/core/src/interpreter/interpreter.rs
  query-engine/core/src/interpreter/query_interpreters/write.rs
  query-engine/core/src/query_document/error.rs
  query-engine/core/src/query_document/parse_ast.rs
  query-engine/core/src/query_graph_builder/error.rs
  query-engine/core/src/query_graph_builder/extractors/filters.rs
  query-engine/core/src/query_graph_builder/write/write_args_parser.rs
  query-engine/prisma/Cargo.toml
Labels: component: query engine

#625 Test column types with dubious nullability properties (pg/mysql)
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/postgres/tables_postgres.rs
  libs/sql-schema-describer/src/mysql.rs
  libs/test-setup/src/connectors.rs
  libs/test-setup/src/connectors/tags.rs
  query-engine/prisma/src/tests/type_mappings/mysql_types.rs
  query-engine/prisma/src/tests/type_mappings/postgres_types.rs
Labels: component: introspection engine, component: query engine

#645 Update crates (incl. faster tokio)
  Cargo.lock
  query-engine/prisma/src/server.rs
Labels: kind/improvement

#647 Fix for unexpected additional records during deeply nested reads.
  query-engine/core/src/response_ir/internal.rs
Labels: component: query engine

#651 Fix detection of 1:1 relations for self-relations
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/datamodel_helpers.rs
  migration-engine/migration-engine-tests/tests/migrations/indexes.rs
Labels: component: migration engine

#652 Minor opportunistic simplifications in sql schema calculator
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
Labels: component: migration engine

#653 Fix Self Relation Rendering
  Cargo.lock
  introspection-engine/connectors/sql-introspection-connector/Cargo.toml
  introspection-engine/core/Cargo.toml
  libs/datamodel/core/src/validator/directive/core/relation.rs
  libs/datamodel/core/tests/renderer/simplification.rs
  libs/sql-schema-describer/Cargo.toml
  query-engine/connectors/sql-query-connector/Cargo.toml
Labels: bug/2-confirmed

#655 Remove Unused Dependencies
  Cargo.lock
  libs/datamodel/core/Cargo.toml
  libs/datamodel/core/src/validator/standardise.rs
  libs/datamodel/core/tests/directives/relations_consistency.rs
  libs/prisma-value/Cargo.toml
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
  query-engine/core/Cargo.toml
Labels: kind/improvement

#658 Unify duplicated test assertion code paths
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/calculate_database_steps.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/calculate_database_steps_tests.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/added_required_field_to_table.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/added_unimplementable_unique_constraint.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/made_optional_field_required.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
  migration-engine/migration-engine-tests/tests/existing_databases_tests.rs
  migration-engine/migration-engine-tests/tests/infer_migration_steps_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/indexes.rs
  migration-engine/migration-engine-tests/tests/migrations/mariadb.rs
  migration-engine/migration-engine-tests/tests/migrations/mysql.rs
  migration-engine/migration-engine-tests/tests/migrations/postgres.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
  migration-engine/migration-engine-tests/tests/migrations/sqlite.rs
  migration-engine/migration-engine-tests/tests/unapply_migration_tests.rs
Labels: component: migration engine, kind/improvement

#662 Drop the foreign keys of dropped tables separately
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
Labels: component: migration engine

#665 Improve reporting of datamodel errors in migration engine
  libs/datamodel/core/src/error/collection.rs
  migration-engine/connectors/migration-connector/src/migration_persistence.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/commands/infer_migration_steps.rs
  migration-engine/migration-engine-tests/tests/infer_migration_steps_tests.rs
Labels: component: migration engine

#668 Fix migrations crash with mysql enums on remapped tables
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/migrations/mysql.rs
Labels: component: migration engine

#670 Add guardrail for empty ALTER TABLES
  migration-engine/connectors/migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
Labels: component: migration engine

#681 Remove database string validation from sql migration connector
  migration-engine/connectors/sql-migration-connector/src/lib.rs
Labels: component: migration engine

#682 Remove the provider argument to SqlMigrationConnector
  migration-engine/cli/src/commands.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/core/src/lib.rs
  migration-engine/migration-engine-tests/src/misc_helpers.rs
  query-engine/query-engine/src/tests/test_api.rs
Labels: component: migration engine

#688 Test and fix adding mutual references in single migration
  libs/sql-schema-describer/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/tests/datamodel_calculator_tests.rs
  migration-engine/migration-engine-tests/tests/datamodel_steps_inferrer_tests.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#690 Avoid hardcoding of migration table name
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/migration-engine-tests/src/sql/barrel_migration_executor.rs
  migration-engine/migration-engine-tests/src/test_api.rs
Labels: component: migration engine

#692 Recognize decimal as Float on SQLite
  libs/sql-schema-describer/src/sqlite.rs
  libs/sql-schema-describer/tests/sqlite_introspection_tests.rs
Labels: component: introspection engine

#695 Drop the only usage of DropTables
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
Labels: component: migration engine

#700 Add JSON-type-in-datamodel support in the migration engine + JSON->Json
  Cargo.lock
  introspection-engine/connectors/sql-introspection-connector/Cargo.toml
  libs/datamodel/connectors/datamodel-connector/src/scalars.rs
  libs/datamodel/core/src/common/value_validator.rs
  libs/datamodel/core/src/json/dmmf/to_dmmf.rs
  libs/datamodel/core/src/validator/lower.rs
  libs/datamodel/core/src/validator/validate.rs
  libs/datamodel/core/tests/base/base_types.rs
  libs/json-rpc-stdio/Cargo.toml
  libs/prisma-models/src/datamodel_converter.rs
  libs/prisma-models/src/field.rs
  libs/prisma-value/src/lib.rs
  libs/prisma-value/src/sql_ext.rs
  libs/sql-schema-describer/Cargo.toml
  libs/test-cli/Cargo.toml
  libs/test-setup/Cargo.toml
  libs/test-setup/src/connectors.rs
  libs/test-setup/src/connectors/capabilities.rs
  migration-engine/cli/Cargo.toml
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration/expanded_alter_column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/migration-engine-tests/Cargo.toml
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/infer.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/datetime/DateTimeSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/datetime/NonEmbeddedUpdatedAtShouldChangeSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/datetime/UpdatedAtShouldChangeSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/datetime/WhereAndDateTimeSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/datetime/WhereAndUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/json/JsonSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/scalarLists/CreateMutationListSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/scalarLists/DeleteScalarListsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/scalarLists/NonEmbeddedDeleteScalarListsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/scalarLists/NonEmbeddedUpsertListDesignSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/scalarLists/ScalarListsMutationSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/dataTypes/scalarLists/UpdateManyListSpec.scala
  query-engine/connectors/sql-query-connector/Cargo.toml
  query-engine/connectors/sql-query-connector/src/row.rs
  query-engine/core/src/query_document/parser.rs
  query-engine/core/src/query_document/query_value.rs
  query-engine/core/src/response_ir/internal.rs
  query-engine/query-engine/Cargo.toml
  query-engine/query-engine/src/tests/type_mappings/mysql_types.rs
Labels: component: data model parser, component: migration engine

#707 Inject tracing spans info into ME errors
  Cargo.lock
  libs/test-setup/Cargo.toml
  libs/test-setup/src/logging.rs
  migration-engine/cli/Cargo.toml
  migration-engine/cli/src/commands/error.rs
  migration-engine/cli/src/logger.rs
  migration-engine/connectors/migration-connector/Cargo.toml
  migration-engine/connectors/migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/core/Cargo.toml
  migration-engine/core/src/commands/infer_migration_steps.rs
  migration-engine/migration-engine-tests/tests/infer_migration_steps_tests.rs
Labels: component: migration engine

#720 Quaint new ast types
  Cargo.lock
  libs/prisma-value/src/sql_ext.rs
  libs/sql-schema-describer/src/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
  query-engine/connectors/sql-query-connector/src/error.rs
  query-engine/connectors/sql-query-connector/src/ordering.rs
  query-engine/connectors/sql-query-connector/src/raw_query.rs
  query-engine/connectors/sql-query-connector/src/row.rs
  query-engine/query-engine/src/tests/execute_raw.rs
  query-engine/query-engine/src/tests/test_api.rs
Labels: kind/improvement

#714 Simplify quoting and CREATE TABLEs in SqlDatabaseStepApplier
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/common.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mod.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/rendered_step.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
Labels: component: migration engine
