Repository prisma/prisma-engines, pull requests merged in 2020-05, with the labels that each got.

#730 Return proper error instead of panic on bad persisted migration
  migration-engine/connectors/migration-connector/src/migration_persistence.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/src/commands/infer_migration_steps.rs
  query-engine/connectors/sql-query-connector/src/error.rs
Labels: component: migration engine

#739 Return a helpful user-facing error on database migration deserialization error
  libs/user-facing-errors/src/migration_engine.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/core/src/api/error_rendering.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/commands/list_migrations.rs
  migration-engine/core/src/commands/unapply_migration.rs
Labels: component: migration engine

#738 Implement escaping and unescaping of special characters in string literals across connectors
  Cargo.lock
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/tables_sqlite.rs
  libs/datamodel/core/Cargo.toml
  libs/datamodel/core/src/ast/parser/mod.rs
  libs/datamodel/core/src/ast/renderer/mod.rs
  libs/datamodel/core/tests/parsing/literals.rs
  libs/datamodel/core/tests/parsing/mod.rs
  libs/datamodel/core/tests/renderer/literals.rs
  libs/datamodel/core/tests/renderer/mod.rs
  libs/sql-schema-describer/src/lib.rs
  libs/sql-schema-describer/src/mysql.rs
  libs/sql-schema-describer/src/postgres.rs
  libs/sql-schema-describer/src/sqlite.rs
  libs/sql-schema-describer/tests/mysql_introspection_tests.rs
  libs/sql-schema-describer/tests/postgres_introspection_tests.rs
  libs/sql-schema-describer/tests/sqlite_introspection_tests.rs
  libs/sql-schema-describer/tests/test_api/mod.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mod.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/migration-engine-tests/src/test_api/infer.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: data model parser, component: introspection engine, component: migration engine

#746 Display the cause of connection errors in QE
  query-engine/connectors/query-connector/src/error.rs
  query-engine/connectors/sql-query-connector/src/error.rs
Labels: component: query engine

#747 Enable filtering by JSON value
  Cargo.lock
  libs/prisma-value/src/sql_ext.rs
  query-engine/core/src/schema_builder/filter_arguments.rs
  query-engine/query-engine/src/tests/type_mappings/mysql_types.rs
  query-engine/query-engine/src/tests/type_mappings/postgres_types.rs
Labels: component: query engine

#753 Introduce pgbouncer flag for PostgreSQL connector
  Cargo.lock
  README.md
  docker-compose.yml
  libs/prisma-value/Cargo.toml
  libs/test-setup/src/lib.rs
  libs/user-facing-errors/Cargo.toml
  query-engine/connector-test-kit/src/test/scala/util/Project.scala
  query-engine/connector-test-kit/src/test/scala/util/TestServer.scala
  query-engine/query-engine/src/cli.rs
  query-engine/query-engine/src/context.rs
  query-engine/query-engine/src/exec_loader.rs
  query-engine/query-engine/src/main.rs
  query-engine/query-engine/src/opt.rs
  query-engine/query-engine/src/server.rs
  query-engine/query-engine/src/tests/test_api.rs
  query-engine/query-engine/src/tests/type_mappings/test_api.rs
Labels: component: query engine

#757 Ignore relation fields for selected field composition
  query-engine/connector-test-kit/src/test/scala/queries/relations/InlineRelationSpec.scala
  query-engine/connector-test-kit/src/test/scala/queries/relations/RelatedNullQueries.scala
  query-engine/core/src/query_graph_builder/read/mod.rs
Labels: component: query engine

#760 fix(datamodel): source -> datasource in error message
  libs/datamodel/core/src/error/mod.rs
  migration-engine/migration-engine-tests/tests/error_tests.rs
Labels: component: data model parser
