Repository prisma/prisma-engines, pull requests merged in 2020-02, with the labels that each got.

#444 (chore) Slightly improve some test assertions in ME
  migration-engine/migration-engine-tests/src/lib.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mariadb.rs
Labels: component: migration engine

#455 Remove unused dependency in the migration engine
  Cargo.lock
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/core/Cargo.toml
Labels: component: migration engine

#456 Test that enum creation is idempotent on MySQL
  libs/test-macros/src/test_each_connector.rs
  libs/test-setup/src/connectors.rs
  libs/test-setup/src/connectors/tags.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mariadb.rs
  migration-engine/migration-engine-tests/tests/migrations/mysql.rs
  migration-engine/migration-engine-tests/tests/migrations/postgres.rs
  migration-engine/migration-engine-tests/tests/migrations/sqlite.rs
Labels: component: migration engine

#462 Query for all columns at once when describing MySQL database
  libs/sql-schema-describer/src/mysql.rs
Labels: component: introspection engine

#463 Optimize number of introspection queries on mysql
  libs/sql-schema-describer/src/mysql.rs
Labels: component: introspection engine

#467 Improve datamodel related errors in migration engine
  libs/datamodel/core/src/error/collection.rs
  libs/user-facing-errors/src/common.rs
  migration-engine/core/src/api/error_rendering.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/src/commands/calculate_database_steps.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/commands/infer_migration_steps.rs
  migration-engine/core/src/commands/migration_progress.rs
  migration-engine/core/src/lib.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/error_tests.rs
  query-engine/prisma/src/error.rs
Labels: component: migration engine

#472 Write basic READMEs for the migration engine
  migration-engine/README.md
  migration-engine/cli/README.md
  migration-engine/cli/src/main.rs
Labels: component: migration engine

#475 Add and remove values from native enums
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/common.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mod.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/datamodel_helpers.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/enums.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_helpers.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
Labels: component: migration engine

#493 Delete dead code in migration core
  migration-engine/core/src/cli/tests.rs
Labels: component: migration engine

#496 Push stdio handling out of migration-core
  Cargo.lock
  introspection-engine/core/src/main.rs
  libs/json-rpc-stdio/src/lib.rs
  migration-engine/cli/Cargo.toml
  migration-engine/cli/src/main.rs
  migration-engine/core/Cargo.toml
  migration-engine/core/src/api/rpc.rs
Labels: component: migration engine

#498 Any unique models
  libs/datamodel/core/src/validator/validate.rs
  libs/datamodel/core/tests/directives/id_negative.rs
  libs/datamodel/core/tests/directives/mod.rs
  libs/datamodel/core/tests/directives/unique_criteria.rs
  libs/prisma-models/src/field/relation.rs
  libs/prisma-models/src/record.rs
  libs/prisma-models/src/selected_fields.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  query-engine/connector-test-kit/src/test/scala/queries/filters/SelfRelationFilterSpec.scala
  query-engine/connector-test-kit/src/test/scala/util/SchemaBaseV11.scala
  query-engine/connector-test-kit/src/test/scala/util/TestDataModelsWrapper.scala
  query-engine/connector-test-kit/src/test/scala/util/TestServer.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/CombiningDifferentNestedMutationsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedConnectMutationInsideCreateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedConnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedCreateMutationInsideCreateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedCreateMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteManyMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedSetMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedUpdateManyMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedUpsertMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/notUsingSchemaBase/NestedUpdateMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteManyMutationRelationsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteMutationRelationsSpec.scala
  query-engine/connectors/query-connector/src/write_args.rs
  query-engine/connectors/sql-query-connector/src/database/operations/read.rs
  query-engine/connectors/sql-query-connector/src/database/operations/write.rs
  query-engine/core/src/executor/pipeline.rs
  query-engine/core/src/interpreter/interpreter.rs
  query-engine/core/src/query_ast/write.rs
  query-engine/core/src/query_graph/formatters.rs
  query-engine/core/src/query_graph/mod.rs
  query-engine/core/src/query_graph_builder/write/nested/connect_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/create_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/delete_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/disconnect_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/set_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/update_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/upsert_nested.rs
  query-engine/core/src/query_graph_builder/write/utils.rs
Labels: component: data model parser, component: introspection engine, component: migration engine, component: query engine

#505 Test that tables without primary key can be created
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/datamodel_helpers.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/tests/migrations/mod.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
Labels: component: migration engine

#510 Write tests for @map([...]) on compound relations
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#516 Propagate quaint timeout messages to introspection connector errors
  introspection-engine/connectors/introspection-connector/src/error.rs
  introspection-engine/connectors/sql-introspection-connector/src/error.rs
Labels: component: introspection engine

#520 Implement diffing of enum value directives
  migration-engine/connectors/migration-connector/src/steps.rs
  migration-engine/core/src/migration/datamodel_calculator.rs
  migration-engine/core/src/migration/datamodel_differ.rs
  migration-engine/core/src/migration/datamodel_differ/enum_values.rs
  migration-engine/core/src/migration/datamodel_differ/enums.rs
  migration-engine/migration-engine-tests/tests/datamodel_steps_inferrer_tests.rs
Labels: component: migration engine

#522 Take `@map` into account when migrating enum values
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/core/src/migration/datamodel_differ.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
  migration-engine/migration-engine-tests/tests/multi_user_tests.rs
Labels: component: migration engine

#504 Multi-field IDs
  libs/datamodel/core/src/validator/standardise.rs
  libs/prisma-models/src/datamodel_converter.rs
  libs/prisma-models/src/field.rs
  libs/prisma-models/src/prisma_value_ext.rs
  libs/prisma-models/src/record.rs
  libs/prisma-models/src/selected_fields.rs
  libs/prisma-models/src/sql_ext/column.rs
  libs/prisma-models/src/sql_ext/relation.rs
  libs/prisma-value/src/lib.rs
  libs/prisma-value/src/sql_ext.rs
  query-engine/connector-test-kit/src/test/scala/queries/simple/M2mQuerySpec.scala
  query-engine/connector-test-kit/src/test/scala/queries/simple/MultiFieldUniqueQuerySpec.scala
  query-engine/connector-test-kit/src/test/scala/util/SchemaBaseV11.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/CombiningDifferentNestedMutationsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedConnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedCreateMutationInsideCreateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedUpsertMutationInsideUpdateSpec.scala
  query-engine/connectors/query-connector/src/filter/mod.rs
  query-engine/connectors/query-connector/src/interface/dispatch.rs
  query-engine/connectors/query-connector/src/interface/mod.rs
  query-engine/connectors/sql-query-connector/src/database/connection.rs
  query-engine/connectors/sql-query-connector/src/database/operations/read.rs
  query-engine/connectors/sql-query-connector/src/database/transaction.rs
  query-engine/connectors/sql-query-connector/src/query_builder/write.rs
  query-engine/connectors/sql-query-connector/src/row.rs
  query-engine/connectors/sql-query-connector/test_schema.json
  query-engine/core/src/interpreter/query_interpreters/mod.rs
  query-engine/core/src/interpreter/query_interpreters/nested_pagination.rs
  query-engine/core/src/interpreter/query_interpreters/nested_read.rs
  query-engine/core/src/interpreter/query_interpreters/read.rs
  query-engine/core/src/query_ast/mod.rs
  query-engine/core/src/query_ast/read.rs
  query-engine/core/src/query_ast/write.rs
  query-engine/core/src/query_document/query_value.rs
  query-engine/core/src/query_document/transformers.rs
  query-engine/core/src/query_graph/mod.rs
  query-engine/core/src/query_graph_builder/extractors/query_arguments.rs
  query-engine/core/src/query_graph_builder/read/related.rs
  query-engine/core/src/query_graph_builder/write/mod.rs
  query-engine/core/src/query_graph_builder/write/nested/connect_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/create_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/set_nested.rs
  query-engine/core/src/query_graph_builder/write/utils.rs
  query-engine/core/src/schema_builder/filter_arguments.rs
  query-engine/core/src/schema_builder/input_type_builder/input_builder_extensions.rs
  query-engine/core/src/schema_builder/input_type_builder/mod.rs
  query-engine/core/src/schema_builder/object_type_builder.rs
Labels: component: data model parser, component: query engine

#529 Test explicit enum default migrations with @map
  Cargo.lock
  libs/datamodel/core/src/dml/enum.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator/datamodel_helpers.rs
  migration-engine/migration-engine-tests/Cargo.toml
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
Labels: component: migration engine

#535 Fix crash on building of foreign keys overlapping with PK
  introspection-engine/connectors/sql-introspection-connector/src/calculate_datamodel.rs
Labels: component: introspection engine

#536 Return a known error on invalid/absent database string
  libs/user-facing-errors/src/common.rs
  libs/user-facing-errors/src/quaint.rs
  query-engine/connectors/sql-query-connector/src/database/mod.rs
  query-engine/connectors/sql-query-connector/src/database/mysql.rs
  query-engine/connectors/sql-query-connector/src/database/postgresql.rs
  query-engine/connectors/sql-query-connector/src/database/sqlite.rs
  query-engine/prisma/src/error.rs
Labels: component: query engine

#528 Any Relation References
  .buildkite/engineer
  .envrc
  libs/prisma-models/src/fields.rs
  libs/prisma-models/src/prelude.rs
  libs/prisma-models/src/record.rs
  libs/prisma-models/src/selected_fields.rs
  query-engine/connector-test-kit/project/Dependencies.scala
  query-engine/connector-test-kit/src/test/scala/util/ApiSpecBase.scala
  query-engine/connector-test-kit/src/test/scala/util/ConnectorAwareTest.scala
  query-engine/connector-test-kit/src/test/scala/util/ConnectorConfig.scala
  query-engine/connector-test-kit/src/test/scala/util/PrismaRsBuild.scala
  query-engine/connector-test-kit/src/test/scala/util/SchemaBaseV11.scala
  query-engine/connector-test-kit/src/test/scala/util/TestDataModelsWrapper.scala
  query-engine/connector-test-kit/src/test/scala/util/TestDatabase.scala
  query-engine/connector-test-kit/src/test/scala/util/TestServer.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedConnectMutationInsideCreateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedConnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedCreateMutationInsideCreateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedCreateMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDeleteMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpdateSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/nestedMutations/alreadyConverted/NestedDisconnectMutationInsideUpsertSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteManyMutationRelationsSpec.scala
  query-engine/connector-test-kit/src/test/scala/writes/topLevelMutations/DeleteMutationRelationsSpec.scala
  query-engine/connectors/query-connector/src/interface/dispatch.rs
  query-engine/connectors/query-connector/src/interface/mod.rs
  query-engine/connectors/sql-query-connector/src/database/connection.rs
  query-engine/connectors/sql-query-connector/src/database/mysql.rs
  query-engine/connectors/sql-query-connector/src/database/operations/read.rs
  query-engine/connectors/sql-query-connector/src/database/operations/write.rs
  query-engine/connectors/sql-query-connector/src/database/postgresql.rs
  query-engine/connectors/sql-query-connector/src/database/sqlite.rs
  query-engine/connectors/sql-query-connector/src/database/transaction.rs
  query-engine/connectors/sql-query-connector/src/ordering.rs
  query-engine/connectors/sql-query-connector/src/query_builder/read/many_related_records/base_query.rs
  query-engine/connectors/sql-query-connector/src/query_builder/read/many_related_records/mod.rs
  query-engine/connectors/sql-query-connector/src/query_builder/read/many_related_records/row_number.rs
  query-engine/connectors/sql-query-connector/src/query_builder/read/many_related_records/union_all.rs
  query-engine/connectors/sql-query-connector/src/query_builder/read/mod.rs
  query-engine/core/src/interpreter/interpreter.rs
  query-engine/core/src/interpreter/query_interpreters/nested_read.rs
  query-engine/core/src/query_ast/read.rs
  query-engine/core/src/query_graph/mod.rs
  query-engine/core/src/query_graph_builder/read/many.rs
  query-engine/core/src/query_graph_builder/read/mod.rs
  query-engine/core/src/query_graph_builder/read/one.rs
  query-engine/core/src/query_graph_builder/read/related.rs
  query-engine/core/src/query_graph_builder/write/connect.rs
  query-engine/core/src/query_graph_builder/write/delete.rs
  query-engine/core/src/query_graph_builder/write/nested/connect_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/create_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/delete_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/disconnect_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/set_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/update_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/upsert_nested.rs
  query-engine/core/src/query_graph_builder/write/utils.rs
  query-engine/prisma/src/request_handlers/graphql/handler.rs
  test_connector.sh
Labels: component: query engine

#544 [Query Core] Housekeeping
  libs/prisma-models/src/field/relation.rs
  libs/prisma-models/src/lib.rs
  libs/prisma-models/src/model.rs
  libs/prisma-models/src/prelude.rs
  libs/prisma-models/src/projections/mod.rs
  libs/prisma-models/src/projections/model_projection.rs
  libs/prisma-models/src/projections/record_projection.rs
  libs/prisma-models/src/record.rs
  libs/prisma-models/src/selected_fields.rs
  libs/prisma-models/src/sql_ext/column.rs
  libs/prisma-models/src/sql_ext/record.rs
  query-engine/connectors/query-connector/src/filter/id_filter.rs
  query-engine/connectors/query-connector/src/filter/mod.rs
  query-engine/connectors/query-connector/src/interface/dispatch.rs
  query-engine/connectors/query-connector/src/interface/mod.rs
  query-engine/connectors/query-connector/src/write_args.rs
  query-engine/connectors/sql-query-connector/src/database/connection.rs
  query-engine/connectors/sql-query-connector/src/database/operations/read.rs
  query-engine/connectors/sql-query-connector/src/database/operations/write.rs
  query-engine/connectors/sql-query-connector/src/database/transaction.rs
  query-engine/connectors/sql-query-connector/src/query_builder/mod.rs
  query-engine/connectors/sql-query-connector/src/query_builder/write.rs
  query-engine/connectors/sql-query-connector/src/query_ext.rs
  query-engine/core/src/interpreter/expressionista.rs
  query-engine/core/src/interpreter/interpreter.rs
  query-engine/core/src/interpreter/query_interpreters/nested_pagination.rs
  query-engine/core/src/interpreter/query_interpreters/nested_read.rs
  query-engine/core/src/query_ast/mod.rs
  query-engine/core/src/query_ast/read.rs
  query-engine/core/src/query_ast/write.rs
  query-engine/core/src/query_graph/formatters.rs
  query-engine/core/src/query_graph/mod.rs
  query-engine/core/src/query_graph_builder/write/connect.rs
  query-engine/core/src/query_graph_builder/write/create.rs
  query-engine/core/src/query_graph_builder/write/delete.rs
  query-engine/core/src/query_graph_builder/write/disconnect.rs
  query-engine/core/src/query_graph_builder/write/nested/connect_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/create_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/delete_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/disconnect_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/set_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/update_nested.rs
  query-engine/core/src/query_graph_builder/write/nested/upsert_nested.rs
  query-engine/core/src/query_graph_builder/write/update.rs
  query-engine/core/src/query_graph_builder/write/upsert.rs
  query-engine/core/src/query_graph_builder/write/utils.rs
  query-engine/core/src/response_ir/internal.rs
  query-engine/core/src/result_ast/mod.rs
Labels: component: query engine
