Repository prisma/prisma-engines, pull requests merged in 2020-06, with the labels that each got.

#773 Avoid dropping PostGIS system tables
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/tests/existing_databases_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/postgres.rs
Labels: component: migration engine

#775 Split raw queries to execute and query
  README.md
  query-engine/connectors/query-connector/src/interface/dispatch.rs
  query-engine/connectors/query-connector/src/interface/mod.rs
  query-engine/connectors/sql-query-connector/src/database/connection.rs
  query-engine/connectors/sql-query-connector/src/database/operations/write.rs
  query-engine/connectors/sql-query-connector/src/database/transaction.rs
  query-engine/connectors/sql-query-connector/src/lib.rs
  query-engine/connectors/sql-query-connector/src/query_ext.rs
  query-engine/connectors/sql-query-connector/src/raw_query.rs
  query-engine/core/src/executor/pipeline.rs
  query-engine/core/src/interpreter/expression.rs
  query-engine/core/src/interpreter/query_interpreters/write.rs
  query-engine/core/src/query_ast/write.rs
  query-engine/core/src/query_document/parse_ast.rs
  query-engine/core/src/query_graph_builder/builder.rs
  query-engine/core/src/schema/query_schema.rs
  query-engine/core/src/schema_builder/query_schema_builder.rs
  query-engine/query-engine/src/opt.rs
  query-engine/query-engine/src/tests/execute_raw.rs
Labels: component: query engine, kind/bug

#780 Clean up --create_database and --can_connect_to_database
  Cargo.lock
  libs/test-setup/src/lib.rs
  migration-engine/cli/Cargo.toml
  migration-engine/cli/src/commands.rs
  migration-engine/cli/src/commands/tests.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/Cargo.toml
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/core/src/lib.rs
Labels: component: migration engine

#792 Reenable commented-out test
  migration-engine/cli/src/commands/tests.rs
Labels: component: migration engine

#774 Avoid migrating MySQL system databases
  libs/test-setup/src/lib.rs
  libs/user-facing-errors/src/migration_engine.rs
  migration-engine/cli/src/commands/tests.rs
  migration-engine/connectors/sql-migration-connector/src/component.rs
  migration-engine/connectors/sql-migration-connector/src/error.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/migration-engine-tests/tests/error_tests.rs
Labels: component: migration engine

#798 Fix freezing query when with MySQL `CALL` statements
  Cargo.lock
Labels: bug/2-confirmed, kind/bug

#797 Restructure SqlDestructiveChangesChecker
  migration-engine/cli/src/main.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/component.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/check.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/database_inspection_results.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_check_plan.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/sql_unexecutable_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/unexecutable_step_check.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/warning_check.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration/expanded_alter_column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/core/src/api.rs
  migration-engine/core/src/lib.rs
  migration-engine/core/src/migration/datamodel_differ/fields.rs
  migration-engine/migration-engine-tests/src/lib.rs
  migration-engine/migration-engine-tests/src/sql/multi_user.rs
  migration-engine/migration-engine-tests/src/sql/multi_user/git_repo.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/added_required_field_to_table.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/made_optional_field_required.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
Labels: component: migration engine

#801 Fix warning and delete empty module
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/core/src/migration/datamodel_steps_applier.rs
  migration-engine/core/src/migration/mod.rs
Labels: component: migration engine

#804 Reintroduce tests deleted in 5c8891255ad07c75a7995e26e1fe67961ccd4668
  migration-engine/connectors/sql-migration-connector/src/datamodel_helpers.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#805 Make migration engine resilient to old database migration steps
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/identify_version/mod.rs
  libs/user-facing-errors/src/migration_engine.rs
  migration-engine/connectors/migration-connector/src/database_migration_step_applier.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/migration-connector/src/migration_applier.rs
  migration-engine/connectors/migration-connector/src/migration_persistence.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
  migration-engine/core/src/api/error_rendering.rs
  migration-engine/core/src/commands/apply_migration.rs
  migration-engine/core/src/commands/calculate_database_steps.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/commands/infer_migration_steps.rs
  migration-engine/core/src/commands/list_migrations.rs
  migration-engine/core/src/commands/mod.rs
  migration-engine/core/src/commands/unapply_migration.rs
  migration-engine/migration-engine-tests/src/command_helpers.rs
  migration-engine/migration-engine-tests/src/test_api/infer.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/infer_migration_steps_tests.rs
  migration-engine/migration-engine-tests/tests/migration_persistence_tests.rs
Labels: component: migration engine

#816 Specialize alter column checks by SqlFlavour
  migration-engine/connectors/sql-migration-connector/src/component.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_check_plan.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
Labels: component: migration engine

#818 Map SQLite lowcase type value correctly
  Cargo.lock
Labels: bug/2-confirmed, kind/bug

#819 [MySQL] Make alter columns of fields w/ @default(now()) work
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/unexecutable_step_check.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration/expanded_alter_column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mod.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_helpers.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/src/test_api/infer.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/made_optional_field_required.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
Labels: component: migration engine

#827 Update Quaint for non-panicky visitors
  Cargo.lock
Labels: kind/bug

#828 Pg stmt cache
  Cargo.lock
  libs/test-setup/src/lib.rs
  migration-engine/core/Cargo.toml
  migration-engine/core/src/lib.rs
Labels: component: query engine, kind/feature

#829 [refactoring] Use ColumnRef in ColumnDiffer
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration/expanded_alter_column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/column.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_helpers.rs
Labels: component: migration engine

#835 Support dates in raw queries
  Cargo.lock
  libs/prisma-value/src/lib.rs
  query-engine/query-engine/Cargo.toml
  query-engine/query-engine/src/tests/execute_raw.rs
Labels: kind/bug

#839 Fix detection of AUTOINCREMENT primary keys on SQLite
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/relations_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/relations_with_compound_fk_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/remapping_database_names_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/db_specific_introspection/sqlite/tables_sqlite.rs
  introspection-engine/connectors/sql-introspection-connector/tests/rpc_calls/get_database_description.rs
  libs/sql-schema-describer/src/sqlite.rs
  libs/sql-schema-describer/tests/introspection_tests.rs
  libs/sql-schema-describer/tests/sqlite_introspection_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: introspection engine, component: migration engine

#845 Do not crash trying to set @default(dbgenerated())
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/mysql_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#846 Use raw_cmd instead of query_raw where possible in the ME
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
Labels: component: migration engine

#847 Put a 1-minute timeout on destructive change checks
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_check_plan.rs
Labels: component: migration engine

#853 Better error for connection issues in MySQL
  Cargo.lock
Labels: kind/bug

#826 Primary key migrations
  introspection-engine/connectors/sql-introspection-connector/tests/common_unit_tests/mod.rs
  introspection-engine/connectors/sql-introspection-connector/tests/rpc_calls/get_database_description.rs
  libs/sql-schema-describer/src/lib.rs
  libs/sql-schema-describer/src/mysql.rs
  libs/sql-schema-describer/src/postgres.rs
  libs/sql-schema-describer/src/sqlite.rs
  libs/sql-schema-describer/tests/introspection_tests.rs
  libs/sql-schema-describer/tests/mysql_introspection_tests.rs
  libs/sql-schema-describer/tests/postgres_introspection_tests.rs
  libs/sql-schema-describer/tests/serialization_tests.rs
  libs/sql-schema-describer/tests/sqlite_introspection_tests.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_change_checker_flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/destructive_check_plan.rs
  migration-engine/connectors/sql-migration-connector/src/sql_destructive_changes_checker/warning_check.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_calculator.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_helpers.rs
  migration-engine/migration-engine-tests/src/assertions.rs
  migration-engine/migration-engine-tests/src/test_api/infer_apply.rs
  migration-engine/migration-engine-tests/tests/existing_data_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
Labels: component: migration engine

#859 Use #![deny(unsafe_code)] in ME crates
  migration-engine/cli/src/main.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/core/src/lib.rs
  migration-engine/migration-engine-tests/src/lib.rs
Labels: component: migration engine
