Repository prisma/prisma-engines, pull requests merged in 2021-07, with the labels that each got.

#2059 Do not introspect indices on XML columns
  introspection-engine/connectors/sql-introspection-connector/src/lib.rs
  introspection-engine/introspection-engine-tests/tests/mssql/mod.rs
  introspection-engine/introspection-engine-tests/tests/postgres/mod.rs
  libs/datamodel/connectors/sql-datamodel-connector/src/postgres_datamodel_connector.rs
  libs/datamodel/core/tests/types/mssql_native_types.rs
  libs/datamodel/core/tests/types/postgres_native_types.rs
  libs/sql-schema-describer/src/mssql.rs
Labels: engines/introspection engine, topic: sql server

#2067 Fix WASM build
  .github/workflows/build-wasm.yml
Labels: kind/tech, topic: ci

#2083 Extend postgis ignore list to views on postgres
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/postgres.rs
  migration-engine/migration-engine-tests/src/commands/schema_push.rs
  migration-engine/migration-engine-tests/src/multi_engine_test_api.rs
  migration-engine/migration-engine-tests/src/sync_test_api.rs
  migration-engine/migration-engine-tests/tests/apply_migrations/mod.rs
  migration-engine/migration-engine-tests/tests/errors/error_tests.rs
  migration-engine/migration-engine-tests/tests/existing_data/mod.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/added_required_field_to_table.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/added_unimplementable_unique_constraint.rs
  migration-engine/migration-engine-tests/tests/existing_data/sql_unexecutable_migrations/made_optional_field_required.rs
  migration-engine/migration-engine-tests/tests/existing_data/sqlite_existing_data_tests.rs
  migration-engine/migration-engine-tests/tests/existing_data/type_migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/basic.rs
  migration-engine/migration-engine-tests/tests/migrations/defaults.rs
  migration-engine/migration-engine-tests/tests/migrations/dev_diagnostic_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/diagnose_migration_history_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/enums.rs
  migration-engine/migration-engine-tests/tests/migrations/foreign_keys.rs
  migration-engine/migration-engine-tests/tests/migrations/id.rs
  migration-engine/migration-engine-tests/tests/migrations/indexes.rs
  migration-engine/migration-engine-tests/tests/migrations/json.rs
  migration-engine/migration-engine-tests/tests/migrations/mariadb.rs
  migration-engine/migration-engine-tests/tests/migrations/mark_migration_applied_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mssql.rs
  migration-engine/migration-engine-tests/tests/migrations/mysql.rs
  migration-engine/migration-engine-tests/tests/migrations/planetscale_mode.rs
  migration-engine/migration-engine-tests/tests/migrations/postgres.rs
  migration-engine/migration-engine-tests/tests/migrations/relations.rs
  migration-engine/migration-engine-tests/tests/migrations/reset_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/soft_resets.rs
  migration-engine/migration-engine-tests/tests/migrations/sql.rs
  migration-engine/migration-engine-tests/tests/migrations/sqlite.rs
  migration-engine/migration-engine-tests/tests/migrations/types.rs
  migration-engine/migration-engine-tests/tests/migrations/unique.rs
  migration-engine/migration-engine-tests/tests/migrations/unsupported_types.rs
  migration-engine/migration-engine-tests/tests/native_types/common.rs
  migration-engine/migration-engine-tests/tests/native_types/mssql.rs
  migration-engine/migration-engine-tests/tests/native_types/mysql.rs
  migration-engine/migration-engine-tests/tests/native_types/postgres.rs
  migration-engine/migration-engine-tests/tests/schema_push/mod.rs
Labels: engines/migration engine

#2044 Log migration names as they are being applied
  migration-engine/README.md
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
Labels: team/migrations

#2104 Make some fields private on SqlSchema
  introspection-engine/connectors/sql-introspection-connector/Cargo.toml
  introspection-engine/connectors/sql-introspection-connector/src/calculate_datamodel_tests.rs
  libs/sql-schema-describer/src/lib.rs
Labels: engines/introspection engine

#2103 Port autoincrement validations to db.rs
  libs/datamodel/connectors/dml/src/model.rs
  libs/datamodel/core/src/transform/ast_to_dml/db/attributes.rs
  libs/datamodel/core/src/transform/ast_to_dml/db/attributes/autoincrement.rs
  libs/datamodel/core/src/transform/ast_to_dml/db/types.rs
  libs/datamodel/core/src/transform/ast_to_dml/validate.rs
Labels: engines/data model parser

#2107 Move index name validation to ParserDatabase
  Cargo.lock
  libs/datamodel/core/src/transform/ast_to_dml/db.rs
  libs/datamodel/core/src/transform/ast_to_dml/db/attributes.rs
  libs/datamodel/core/src/transform/ast_to_dml/db/context/arguments.rs
  libs/datamodel/core/src/transform/ast_to_dml/db/types.rs
  libs/datamodel/core/src/transform/ast_to_dml/lift.rs
  libs/datamodel/core/src/transform/ast_to_dml/validate.rs
  libs/datamodel/core/src/transform/ast_to_dml/validation_pipeline.rs
Labels: engines/data model parser

#2106 Ignore the pg_buffercache view on postgres when soft-resetting
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/sql_schema_differ_flavour/postgres.rs
  migration-engine/migration-engine-tests/tests/migrations/postgres.rs
Labels: engines/migration engine
