Repository prisma/prisma-engines, pull requests merged in 2021-02, with the labels that each got.

#1583 Test and fix re-introspection of @updatedAt @default(cuid()/uuid())
  introspection-engine/connectors/sql-introspection-connector/src/re_introspection.rs
  introspection-engine/introspection-engine-tests/src/lib.rs
  introspection-engine/introspection-engine-tests/src/test_api.rs
  introspection-engine/introspection-engine-tests/tests/re_introspection/mod.rs
  libs/datamodel/connectors/dml/src/field.rs
  libs/datamodel/connectors/dml/src/scalars.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/diagnose_migration_history_tests.rs
Labels: engines/introspection engine, team/migrations

#1587 Fixing conversion of null integer values
  Cargo.lock
Labels: kind/bug

#1613 Fix two roadblocks for migrations on planetscaledb
  libs/sql-schema-describer/src/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
Labels: engines/migration engine

#1572 Test default native type rendering is skipped with params
  libs/datamodel/core/src/ast/reformat/reformatter.rs
  libs/datamodel/core/tests/render_to_dmmf/parser_renderer_dml.rs
  libs/datamodel/core/tests/types/mysql_native_types.rs
  prisma-fmt/src/lint.rs
  prisma-fmt/src/main.rs
  prisma-fmt/src/native.rs
Labels: engines/data model parser, team/migrations, topic: native types

#1619 Improve errors returned when a migration directory is empty
  libs/user-facing-errors/src/migration_engine.rs
  migration-engine/connectors/migration-connector/src/error.rs
  migration-engine/connectors/migration-connector/src/migrations_directory.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/diagnose_migration_history_tests.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mod.rs
  migration-engine/migration-engine-tests/tests/migrations/unsupported_types.rs
Labels: engines/migration engine, team/migrations

#1625 (cleanup) Remove SqlFlavour::sql_family()
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
Labels: engines/migration engine

#1479 Implement advisory locking
  libs/datamodel/core/src/ast/parser/parse_expression.rs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/test-setup/src/connectors/features.rs
  migration-engine/connectors/migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_renderer/sqlite_renderer.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/core/src/commands/dev_diagnostic.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/core/src/commands/evaluate_data_loss.rs
  migration-engine/core/src/commands/list_migration_directories.rs
  migration-engine/core/src/commands/mark_migration_applied.rs
  migration-engine/core/src/commands/mark_migration_rolled_back.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/migrations/advisory_locking.rs
  migration-engine/migration-engine-tests/tests/migrations/mod.rs
  migration-engine/migration-engine-tests/tests/reset/reset_tests.rs
Labels: engines/migration engine

#1628 Remove indirection through MigrationApi in MigrationCommand
  migration-engine/core/src/api.rs
  migration-engine/core/src/api/rpc.rs
  migration-engine/core/src/commands/apply_migrations.rs
  migration-engine/core/src/commands/apply_script.rs
  migration-engine/core/src/commands/command.rs
  migration-engine/core/src/commands/create_migration.rs
  migration-engine/core/src/commands/debug_panic.rs
  migration-engine/core/src/commands/dev_diagnostic.rs
  migration-engine/core/src/commands/diagnose_migration_history.rs
  migration-engine/core/src/commands/evaluate_data_loss.rs
  migration-engine/core/src/commands/get_database_version.rs
  migration-engine/core/src/commands/list_migration_directories.rs
  migration-engine/core/src/commands/mark_migration_applied.rs
  migration-engine/core/src/commands/mark_migration_rolled_back.rs
  migration-engine/core/src/commands/plan_migration.rs
  migration-engine/core/src/commands/reset.rs
  migration-engine/core/src/commands/schema_push.rs
  migration-engine/core/src/lib.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  query-engine/query-engine/src/tests/test_api.rs
Labels: engines/migration engine

#1631 Try harder to fix the mssql test flakiness issue
  migration-engine/migration-engine-tests/tests/diagnose_migration_history/diagnose_migration_history_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/dev_diagnostic_tests.rs
Labels: engines/migration engine

#1633 Backport datasource_loader improvements from prisma-engines#1574
  libs/datamodel/core/src/configuration/datasource.rs
  libs/datamodel/core/src/diagnostics/collection.rs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/datamodel/core/src/transform/dml_to_ast/datasource_serializer.rs
  libs/datamodel/core/src/transform/helpers/arguments.rs
Labels: engines/data model parser

#1630 Do best-effort resets when drop+recreate fails
  migration-engine/connectors/migration-connector/src/database_migration_step_applier.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/core/src/api/rpc.rs
  migration-engine/core/src/commands/schema_push.rs
  migration-engine/core/src/core_error.rs
  migration-engine/core/src/lib.rs
  migration-engine/migration-engine-tests/tests/migrations/advisory_locking.rs
Labels: engines/migration engine

#1643 Test soft resets
  libs/datamodel/connectors/dml/src/default_value.rs
  libs/datamodel/core/src/ast/parser/parse_expression.rs
  libs/datamodel/core/src/lib.rs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/test-cli/src/main.rs
  libs/test-setup/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_step_applier.rs
  migration-engine/migration-engine-tests/src/lib.rs
  migration-engine/migration-engine-tests/src/multi_engine_test_api.rs
  migration-engine/migration-engine-tests/tests/migration_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/advisory_locking.rs
  migration-engine/migration-engine-tests/tests/migrations/dev_diagnostic_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mod.rs
  migration-engine/migration-engine-tests/tests/migrations/relations.rs
  migration-engine/migration-engine-tests/tests/migrations/reset_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/soft_resets.rs
  migration-engine/migration-engine-tests/tests/reset/mod.rs
  query-engine/connectors/sql-query-connector/src/lib.rs
  query-engine/core/src/lib.rs
  query-engine/core/src/query_graph_builder/read/aggregations/mod.rs
  query-engine/query-engine/src/main.rs
Labels: engines/migration engine, team/migrations

#1647 Rename imperative_migrations_table to migrations_table
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/sql_migration_persistence.rs
Labels: engines/migration engine, team/migrations

#1649 Make shadow database url configurable in datasource
  libs/datamodel/core/src/configuration/datasource.rs
  libs/datamodel/core/src/diagnostics/error.rs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/datamodel/core/tests/config/sources.rs
  migration-engine/connectors/sql-migration-connector/src/flavour.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mssql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/mysql.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/postgres.rs
  migration-engine/connectors/sql-migration-connector/src/flavour/sqlite.rs
  migration-engine/connectors/sql-migration-connector/src/lib.rs
  migration-engine/connectors/sql-migration-connector/src/sql_database_migration_inferrer.rs
  migration-engine/core/src/lib.rs
  migration-engine/migration-engine-tests/src/multi_engine_test_api.rs
  migration-engine/migration-engine-tests/src/test_api.rs
  migration-engine/migration-engine-tests/tests/migrations/dev_diagnostic_tests.rs
  migration-engine/migration-engine-tests/tests/migrations/mod.rs
  migration-engine/migration-engine-tests/tests/migrations/shadow_database_url_configuration.rs
  migration-engine/migration-engine-tests/tests/migrations/soft_resets.rs
  query-engine/query-engine/src/tests/test_api.rs
Labels: engines/data model parser, engines/migration engine

#1651 Disable shadow database url validation in datasources
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/datamodel/core/tests/config/sources.rs
Labels: engines/data model parser

#1659 Validate shadow database url against provider
  libs/datamodel/core/src/transform/ast_to_dml/builtin_datasource_providers.rs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_provider.rs
  libs/datamodel/core/tests/config/sources.rs
Labels: engines/data model parser

#1672 Do not fail on missing/empty shadow database URLs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/datamodel/core/src/transform/helpers/value_validator.rs
  libs/datamodel/core/tests/config/sources.rs
Labels: engines/data model parser

#1674 Minor datamodel parser cleanups
  libs/datamodel/core/Cargo.toml
  libs/datamodel/core/src/ast/mod.rs
  libs/datamodel/core/src/lib.rs
  libs/datamodel/core/src/transform/ast_to_dml/datasource_loader.rs
  libs/datamodel/core/tests/render_to_dmmf/parser_renderer_ast.rs
Labels: engines/data model parser

#1683 Reject empty index names in parser
  libs/datamodel/core/src/ast/expression.rs
  libs/datamodel/core/src/transform/attributes/unique_and_index.rs
  libs/datamodel/core/src/transform/helpers/value_validator.rs
  libs/datamodel/core/tests/attributes/index.rs
  libs/datamodel/core/tests/common.rs
Labels: engines/data model parser

#1693 Compare foreign key table names case-insensitively
  migration-engine/connectors/sql-migration-connector/src/pair.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ.rs
  migration-engine/connectors/sql-migration-connector/src/sql_schema_differ/table.rs
Labels: engines/migration engine
